@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	@font-face {
		font-family: "Vazirmatn";
		src: url("./assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Vazirmatn";
		src: url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	body {
		font-family: "Vazirmatn", sans-serif;
		font-display: swap;
	}

	.farsi-numbers {
		font-feature-settings: "ss01";
	}

	a,
	button {
		@apply hover:cursor-pointer;
	}

	/* Dialog */
	@keyframes slideUp {
		from {
			opacity: 0;
			transform: translateY(10%);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	dialog[open] {
		animation: slideUp 0.3s ease-in;
	}

	html:has(dialog[open]) {
		overflow: hidden;
	}
}
